@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Space+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: DM Sans, sans-serif;
    outline: red 2px dashed;
}

.app{
  background-color: #343541;
  display: flex;
}

.side-bar{
  background-color: #202123;
  height: 100vh;
  width: 244px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
}

button{
  border: solid .5px rgba(255,255,255,0.5);
  background-color: transparent;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

nav{
  display: flex;
  border-top: solid .5px rgba(255,255,255,0.5);
  margin: .25rem .25rem;
  justify-content: center;
}

.main{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.main-title{
  position: fixed;
  margin-top: 1rem;
  top: 0;
}
.history{
  padding: 10px;
  height: 100%;
  width: 100%;
  
}

.history li {
  list-style-type: none;
  padding: 10px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid .2rem rgba(255,255,255,0.5);
  background-color: transparent;
  border-radius: 5px;
  margin-top: .5rem;
  margin-bottom: .75rem;
}

.bottom-section{
  width: calc(100% - 244px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0
}
.input-container{
  position: relative;
  width: 100%;
  max-width: 650px;
}

input{
  width: 100%;
  border: none;
  font-size: 20px;
  background-color: rgba(255,255,255,0.05);
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: rgba(255,255,255,0.05) 0 54px 55px,
              rgba(255,255,255,0.05) 0 12px 15px,
              rgba(255,255,255,0.05) 0 6px 8px,
              rgba(255,255,255,0.05) 0 1px 1px,
              rgba(255,255,255,0.05) 0 -3px 0px;

}

input:focus{
  outline: none;
}

#submit{
  font-size: 1.5rem;
  position: absolute;
  bottom: 2rem;
  right: 0;
  cursor: pointer;
}

.feed{
  overflow: scroll;
  width: 100%;
  height: calc(100% - width(".input-container") - width(".main-title"));
  padding: 0;
  background-color: #343541;


}

.feed li {
  display: flex;
  background-color: #444654;
  width: 100%;
  padding: 20px;
  margin: 20px 0;
}

.feed p{
  color: rgba(255,255,255,0.8);
  font-size: 14px;
  text-align: left;
  display: flex;
  align-items: center;
  margin-left: 3rem;
  margin-right: 3rem;
}

.feed p.role{
  height: 50px;
  min-width: 100px;
  background-image: url(./assets/img/robot.jpg);
  background-size: cover;
  background-position: center;
}